<!doctype html>
<html ng-app="gemStore">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="GemStore.css">
    <link rel="stylesheet" type="text/css" href="css\bootstrap.min.css" />
    <script type="text/javascript" src="lib\angular\angular.min.js"></script>
    <script type="text/javascript" src="js\app.js"></script>
    <title>Web Application Starter Project</title>
    <script type="text/javascript" language="javascript" src="gemstore/gemstore.nocache.js"></script>
  </head>
  <body ng-controller="StoreController as store">
    <div class="list-group">
      <div class="list-group-item" ng-repeat="product in store.products" ng-hide="product.soldOut">        
        <h3>
          {{product.name}}
          <em class="pull-right">{{product.price | currency}}</em>
          <div class="gallery">
            <img ng-src="{{product.images[0]}}" />
          </div>
          <ul class="img-thumbnails clearfix">
            <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
              <img ng-src="{{image}}" />
            </li>
          </ul>
          <button ng-show="product.canPurchase">Add to Cart</button>
        </h3>
      </div>
    </div>
  </body>
</html>
